<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <title>Інфомація про заняття</title>
  </head>
  <body>
    <div class="container-fluid">
    <h5>Оберіть групу</h5>

    <ul class="list-group-flush" >
        <% groups.forEach(function(r) { %>
            <li class="list-group-item"><a href="/group?id=<%= r.id %>"><%= r.name %></a></li>
        <% }); %>
    </ul>

    </div>
  </body>
</html>