<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <title>Groups</title>
  </head>
  <body>
    <div class="container-fluid">
    <h4>Choose group</h4>

    <ul>
        <% groups.forEach(function(r) { %>
            <li><a href="/group?id=<%= r.id %>"><%= r.name %></a></li>
        <% }); %>
    </ul>

    </div>
  </body>
</html>